@font-face {
	font-family: 'Merriweather-Bold';
	src: url('../fonts/Merriweather-Bold/Merriweather-Bold.eot');
	src: local('☺'), url('../fonts/Merriweather-Bold/Merriweather-Bold.woff') format('woff'), url('../fonts/Merriweather-Bold/Merriweather-Bold.ttf') format('truetype'), url('f../fonts/Merriweather-Bold/Merriweather-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Merriweather-Light';
	src: url('../fonts/Merriweather-Light/Merriweather-Light.eot');
	src: local('☺'), url('../fonts/Merriweather-Light/Merriweather-Light.woff') format('woff'), url('../fonts/Merriweather-Light/Merriweather-Light.ttf') format('truetype'), url('../fonts/Merriweather-Light/Merriweather-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Merriweather-Regular';
	src: url('../fonts/Merriweather-Regular/Merriweather-Regular.eot');
	src: local('☺'), url('../fonts/Merriweather-Regular/Merriweather-Regular.woff') format('woff'), url('../fonts/Merriweather-Regular/Merriweather-Regular.ttf') format('truetype'), url('../fonts/Merriweather-Regular/Merriweather-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Calibre-Black';
	src: url('../fonts/Calibre-Black/Calibre-Black.eot');
	src: local('☺'), url('../fonts/Calibre-Black/Calibre-Black.woff') format('woff'), url('../fonts/Calibre-Black/Calibre-Black.ttf') format('truetype'), url('../fonts/Calibre-Black/Calibre-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Calibre-Bold';
	src: url('../fonts/Calibre-Bold/Calibre-Bold.eot');
	src: local('☺'), url('../fonts/Calibre-Bold/Calibre-Bold.woff') format('woff'), url('../fonts/Calibre-Bold/Calibre-Bold.ttf') format('truetype'), url('../fonts/Calibre-Bold/Calibre-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Calibre-Light';
	src: url('../fonts/Calibre-Light/Calibre-Light.eot');
	src: local('☺'), url('../fonts/Calibre-Light/Calibre-Light.woff') format('woff'), url('../fonts/Calibre-Light/Calibre-Light.ttf') format('truetype'), url('../fonts/Calibre-Light/Calibre-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Calibre-Regular';
	src: url('../fonts/Calibre-Regular/Calibre-Regular.eot');
	src: local('☺'), url('../fonts/Calibre-Regular/Calibre-Regular.woff') format('woff'), url('../fonts/Calibre-Regular/Calibre-Regular.ttf') format('truetype'), url('../fonts/Calibre-Regular/Calibre-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'Calibre-Semibold';
	src: url('../fonts/Calibre-SemiBold/Calibre-Semibold.eot');
	src: local('☺'), url('../fonts/Calibre-SemiBold/Calibre-Semibold.woff') format('woff'), url('../fonts/Calibre-Semibold/Calibre-SemiBold.ttf') format('truetype'), url('../fonts/Calibre-SemiBold/Calibre-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal
}
body {
	padding: 0px;
	
}
.toHtml {
	opacity:0;
}
body.modal-open {
	padding-right: 0px !important;
	overflow: auto !important
}
.merriweatherBold {
	font-family: 'Merriweather-Bold' !important
}
.merriweatherRegular {
	font-family: 'Merriweather-Regular' !important
}
.merriweatherLight {
	font-family: 'Merriweather-Light' !important
}
.robotoBold {
	font-family: 'Roboto-Bold' !important
}
.robotoRegular {
	font-family: 'Roboto-Regular' !important
}
.robotoLight {
	font-family: 'Roboto-Light' !important
}
.calibreBlack {
	font-family: 'Calibre-Black' !important
}
.calibreBold {
	font-family: 'Calibre-Semibold' !important
}
.calibreRegular {
	font-family: 'Calibre-Regular' !important
}
.calibreLight {
	font-family: 'Calibre-Light' !important
}
.iron {
	color: #dbdcdd
}
.iron_clr {
	color: #dbdcdd
}
.white {
	color: #fff !important
}
.thunder {
	color: #231f20 !important
}
.indigo {
	color: #5f51cb
}
.bg_iron {
	background-color: #dbdcdd
}
.bg_indigo {
	background-color: #5f51cb
}
.bg_white {
	background: #fff
}
.bg_pickleBluewood {
	background-color: #29364b
}
.bg_black {
	background-color: #000
}
.bg_alto {
	background-color: #d9d9d9
}
.maxwidth_100 {
	max-width: 100%
}
.width_100 {
	width: 100%
}
.width_90 {
	width: 90%
}
.width_95 {
	width: 95%
}
.width_85 {
	width: 85%
}
.width_70 {
	width: 70%
}
.width_60 {
	width: 60%
}
.width_50 {
	width: 50%
}
.width_45 {
	width: 45%
}
.width_25 {
	width: 25%
}
.width_170 {
	width: 170px
}
.pad_tb200 {
	padding: 200px 0
}
.pad_tb150 {
	padding: 150px 0
}
.pad_tb100 {
	padding: 100px 0
}
.pad_tb70 {
	padding: 70px 0
}
.pad_tb50 {
	padding: 50px 0
}
.pad_tb10 {
	padding: 10px 0 !important
}
.pad_l0 {
	padding-left: 0px
}
.pad_r30 {
	padding-right: 30px !important
}
.pad_r40 {
	padding-right: 40px !important
}
.pad_r0 {
	padding-right: 0px
}
.pad_t70 {
	padding-top: 70px
}
.pad_20 {
	padding: 20px
}
.pad_15 {
	padding: 15px
}
.pad_0 {
	padding: 0px
}
.margin_auto {
	margin: 0 auto
}
.margin_zero {
	margin: 0px
}
.margin_t100 {
	margin-top: 100px
}
.margin_t70 {
	margin-top: 70px !important
}
.margin_t60 {
	margin-top: 60px !important
}
.margin_t50 {
	margin-top: 50px !important
}
.margin_t40 {
	margin-top: 40px
}
.margin_t30 {
	margin-top: 30px
}
.margin_t20 {
	margin-top: 20px
}
.margin_t10 {
	margin-top: 10px
}
.margin_l50 {
	margin-left: 50px !important
}
.margin_l95 {
	margin-left: 95px !important
}
.margin_l80 {
	margin-left: 80px !important
}
.margin_l60 {
	margin-left: 45px !important
}
.margin_l55 {
	margin-left: 55px !important
}
.margin_l5 {
	margin-left: 5px !important
}
.margin_l40 {
	margin-left: 40px !important
}
.margin_l10 {
	margin-left: 10px !important
}
.margin_l0 {
	margin-left: 0px !important
}
.margin_l30 {
	margin-left: 30px !important
}
.margin_l25 {
	margin-left: 25% !important
}
.margin_l22 {
	margin-left: 22%
}
.pos-sat {
	position: static
}
.pos-rel {
	position: relative
}
.pos-abs {
	position: absolute
}
.pos-fix {
	position: fixed
}
.font_32 {
	font-size: 32px !important
}
.font_22 {
	font-size: 22px !important
}
.font_20 {
	font-size: 20px !important
}
.font_18 {
	font-size: 18px !important
}
.font_16 {
	font-size: 16px !important
}
.font_14 {
	font-size: 14px !important
}
.font_12 {
	font-size: 12px !important
}
.font_10 {
	font-size: 10px !important
}
.lh_80 {
	line-height: 80px !important
}
.lh_45 {
	line-height: 45px
}
.lh_25 {
	line-height: 25px
}
.ls_1 {
	letter-spacing: 1px
}
.ls_01 {
	letter-spacing: 0.1px
}
.ls_03 {
	letter-spacing: 0.3px
}
.ls_05 {
	letter-spacing: 0.5px
}
.inline-block {
	display: inline-block !important
}
#news a, .news-full a {
	color:#fff !important;
}
#navbar {
	font-family: 'Roboto-Regular';
	letter-spacing: 1px
}
.home-section {
	background: -webkit-linear-gradient(left, #272727 , #3f3f3f)
}
.navbar-inverse {
	background: transparent;
	border-color: rgba(8, 8, 8, 0)
}
.logo {
	height: 40px;
	margin-top: -5px
}
.client-suite-btn {
	border: 1px solid #5f51cb
}
.client-suite-btn a {
	padding: 5px 15px;
	display: inline-block
}
.client-suite-btn a:hover {
	text-decoration: none;
	color: #5f51cb
}

.bestfit-slider-image {
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: 100% 80%;
	

}
#best-fit1 {
	background: url('./../img/KingsleyGatePartners-Umesh.jpg') no-repeat 100% center;
	background-size: cover !important
}
#best-fit2 {
	background: url('./../img/KingsleyGatePartners-Nocifora.jpg') no-repeat 100% center;
	background-size: cover !important
}
#best-fit3 {
	background: url('./../img/KingsleyGatePartners-Kohn.jpg') no-repeat 100% center;
	background-size: cover !important
}
#best-fit4 {
	background: url('./../img/KingsleyGatePartners-Trau.jpg') no-repeat 100% center;
	background-size: cover !important
}
#global-sec h1 {
	top: 50%;
	left: 50%;
	font-size: 70px;
	margin-left: -200px;
	margin-top: -20px
}
#about-sec h1 {
	top: 50%;
	font-size: 70px;
	width: 100%;
	text-align: center
}
.running-page-btn {
	display: block;
	margin: 0px auto 20px
}
.lasting-fit-title {
	font-family: 'Calibre-Semibold';
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 0.3px;
	line-height: 36px
}
.lasting-fit-sub-title {
	font-family: 'Calibre-Semibold';
	font-size: 21px;
	letter-spacing: .2px;
	width: 90%;
	font-weight: 300;
	line-height: 20px
}
.lasting-fit-desc {
	font-family: 'Merriweather-Light';
	font-size: 12px;
	/* font-weight: 200 */
	letter-spacing: 0.48px;
	line-height: 20px
}
.btn-lg {
	font-family: 'Roboto-Bold';
	font-size: 12px;
	padding: 20px 40px
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #5f51cb !important
}
.btn-primary {
	font-family: 'Roboto-Bold';
	border-radius: 2px;
	letter-spacing: 1px;
	font-size: 12px;
	border-color: #5f51cb !important
}
.copy-right-text {
	color: #dbdcdd;
	font-family: 'Roboto-Regular';
	font-size: 12px;
	font-weight: 350;
	letter-spacing: 1px;
	text-align:right;

}
footer .col-md-6 {
	margin-right:65px;	
}
.footer-menu-title {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1.3px;
	line-height: 25px;
	text-decoration: none !important
}
#footer-menu li:hover a, #footer-menu li:active a, #footer-menu li:focus a {
	color: #5f51cb !important;
	text-decoration: none !important
}
#footer-menu li {
	display:block !important;
	float:left;
	clear:both;
}
.signature-text {
	bottom: 30px;
	right: -10px;
	z-index: 2
}
.signature-text h4 {
	font-family: 'Calibre-Semibold' !important
}
.signature-text p {
	font-family: 'Roboto-Regular' !important
}
.pagination-div {
	/* width: 210px */
	text-align: center
}
.pagination li {
	background-color: transparent;
	border-right: 1px solid #ddd;
	color: #ccc !important;
	border: none;
	height: 22px;
	padding: 6px 12px;
	cursor: pointer;
	border-right: 1px solid #fff;
	line-height: 3px
}
.pagination li:nth-child(3n),.pagination li:last-child {
	border: none
}
.pagination>li:first-child>a {
	color: #fff !important
}
.pagination li a:hover {
	color: #fff !important;
	background-color: transparent
}
.pagination-bar {
	padding: 0px !important;
	background: transparent !important;
	color: #ccc !important;
	border: none !important;
	line-height: 2.2 !important
}
.icon-cat img {
	padding: 5px;
	max-width: 33%;
	height: 130px
}
.get-in-touch-btn {
	padding: 15px 40px;
	text-transform: uppercase
}
#stand-for {
	position: relative;
	background: url('http://images.contentful.com/p5x2n44vvui9/zDylt9lUysq8MaUagkyee/8560f726d18edc5892c7eeaa7a9ca082/transparency.jpg') no-repeat center center
}
/*#stand-for-synchronous-fit.kg-synchronous-tab {*/
	/*background: url('http://via.placeholder.com/1920x1080') no-repeat center center*/
#stand-for-synchronous-fit {
	background: url('http://images.contentful.com/p5x2n44vvui9/2jrF2kFb60MYgwQ4wA2sqm/d58d3423eb2a524b13f813af50bead4c/The-Philosophy-of-Synchronous-FiT.jpg') no-repeat center center
}

#stand-for-synchronous-fit h1, #stand-for h1 {
	position: relative
}
.tab-bg-main {
	position:relative {}
}
.tab-bg-img {
	top: -20000px;
	position: absolute;
	box-shadow: inset 0 0 0 1000px rgba(41, 54, 75, .75);
	background-size: cover !important;
	left: 0px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat
}
.tab-bg-img:first-child {
	top: 0px
}
.kg-home-stand-menu li:last-child {
	border-bottom: 1px solid #979797
}
.kg-bg-tab-details p {
	padding-right: 45px
}
.kg-home-stand div {
	display: none;
	padding-right: 45px
}
.kg-home-stand div:first-child {
	display: block
}
.kg-bg-tab-details ol {
	padding: 0 0 0 20px
}
.stand-menu-title li,.our-portfolio-menu li, .owl-stage-outer li {
	list-style: none
}
.kg-syn-contact {
	z-index: 999;
	position: relative;
	margin-left: 40px
}
.desktop-view-syn-btn .kg-syn-contact {
	margin-left: 25px
}
.syn-desktop-btn-text {
	padding-left: 25px;
	color: #fff
}
#news {
	background: url('./../img/new-bg.png') no-repeat center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto
}
.news-single a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding-top: 15px
}
.global-menu-title li a:hover, .stand-menu-title li a:hover, .stand-menu-title li a:focus,
.global-menu-title li a:active, .global-menu-title li a:focus, .news-pagination li a:focus,
.industries-menu-title li a:focus, .function-menu-title li a:focus {
	color: #fff !important;
	text-decoration: none !important;
	opacity: 1;
	cursor: pointer
}
.border-top {
	border-top: 1px solid #979797 !important
}
.opacity_04 {
	opacity: 0.4
}
#news a:hover {
	color: #fff;
	text-decoration: none
}
.our-portfolio-li {
	padding-top: 5px
}
.partner-li {
	list-style: none
}
.our-portfolio-li li a:hover, .our-partenrs-block li a {
	color: #fff;
	text-decoration: none;
	cursor: pointer
}
.our-partenrs-block {
	padding: 15px 0;
	margin-bottom: 30px
}
.our-partenrs-block img {
	width: 150px;
	height: 150px;
	display: block;
	margin: 30px auto;
	border-radius: 50%
}
.our-partenrs-block .partner-url {
	float: left;
	width: 100%;
	height:287px;
}
.partner-image {
	width: 160px;
	height: 160px;
	background-size: cover;
	border-radius: 50%;
	margin: 30px auto;
	background-position: 50%
}
#partner-top {
	margin-top: 30px
}
.world-map-locations img {
	width: 100%;
	display: block;
	margin: 0 auto
}
.wml-address {
	padding: 10px 10px 20px 10px;
	height: 140px
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	outline: none;
	color: #5f51cb
}
.nav-menu-border {
	background: #5f51cb;
	width: 0;
	height: 2px;
	display: block;
	margin: 8px 0 0 0
}
#nav-menu li a:hover {
	color: #5f51cb !important
}
#nav-menu li:hover a span.nav-menu-border, #footer-menu li:hover a span.nav-menu-border,
#nav-menu li:active a span.nav-menu-border, #footer-menu li:active a span.nav-menu-border,
#nav-menu li:focus a span.nav-menu-border, #footer-menu li:focus a span.nav-menu-border {
	width: 100% !important;
	color: #5f51cb !important
}
.global-menu-title li a span, .industries-menu-title li a span, .function-menu-title li a span, .stand-menu-title li a span {
	vertical-align: middle;
	display: none
}
.global-menu-title li a:hover span, .global-menu-title li a:focus span, .stand-menu-title li a:hover span, .stand-menu-title li a:focus span {
	display: block
}
.stand-menu-title li:first-child a.opacity_04 {
	opacity: 1
}
.stand-menu-title li:first-child span {
	display: block
}
.header-nav {
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	position: relative
}
.headerAnimation {
	width: 100% !important;
	padding: 5px !important
}
.backto-partner-btn {
	margin-top: 78px
}
.life-science-desc .backto-partner-btn {
	margin-top: 34px
}
.backto-partner-btn a {
	color: rgba(255, 255, 255, .69);
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none !important
}
.backto-partner-btn a img, .close-modal img {
	margin-right: 20px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.partner-full-detail {
	padding: 28px 50px 0px 240px
}
.partner-avatar-sec {
/*	width: 140px;*/
	max-width:160px;
	float: left;
	margin-left: -130px
}
.partner-avatar {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	background-size: cover;
	margin: 0 auto
}
.partner-title {
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	margin-top: 15px
}
.parnter-desgination,.parnter-location,.partner-social-link a {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase
}
.partner-social-link a {
	color: #fff;
	text-decoration: none !important
}
.partner-description {
	color: #fff;
	padding: 51px 0px 0px 70px
}
.partner-description p {
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 28px
}
.partner-description p.higlighted-description {
	font-size: 18px;
	line-height: 28px
}
.researchexp-desc, .diversity-desc {
	display: none
}
#rsCarousel .glyphicon-chevron-left, #rsCarousel .glyphicon-chevron-right,
#myCarousel .glyphicon-chevron-left, #myCarousel .glyphicon-chevron-right,
#sfCarousel .glyphicon-chevron-left, #sfCarousel .glyphicon-chevron-right {
	display: none
}
.industries-menu-title, .function-menu-title {
	width: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	display: none;
	padding-left: 0px;
	height: 305px;
	overflow: auto
}
.industries-menu-title {
	display: block
}
.function-menu-title li a, .industries-menu-title li a {
	font-family: 'Calibre-Light';
	font-size: 16px !important;
	opacity: 0.7;
	display: block
}
#myCarousel .carousel-inner {
	min-height: 678px;
	background:#c0c0c0;
}
#myCarousel .item .container .row {
	position: relative;
	height: 100%
}
#myCarousel .item .best-fit-row {
	position: absolute;
	bottom: 15px;
	padding: 0
}
#myCarousel .item .container {
	height: 100%
}
.industries-menu-title li a:hover, .industries-btn, .industries-btn:hover,
.function-menu-title li a:hover, .funnction-btn, .function-btn:hover, .pagination li a:focus {
	background: transparent !important;
	outline: none !important;
	opacity: 1
}
.industries-menu-title li a.active,.function-menu-title li a.active {
	opacity: 1
}
ul.our-portfolio-menu {
	margin-bottom: 0px
}
.industries-btn, .function-btn {
	font-family: 'Calibre-Regular';
	letter-spacing: 0.5px;
	border: none;
	border-radius: 0px;
	background: transparent !important;
	box-shadow: none;
	text-align: left
}
.function-btn {
	border-bottom: 1px solid #979797 !important
}
.function-btn.expand {
	border-bottom: 0px solid #979797 !important
}
.dropdown-menu>li>a {
	padding: 0 0
}
.about-wrap p {
	margin-bottom: 30px;
	line-height: 25px !important;
	letter-spacing: 0.2px
}
.news-list a,.news-list h3 {
	color: #fff
}
.icon-cat {
	margin-left: 55px
}
.overlay-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(16, 16, 16, .4);
	z-index: 1
}
.best-fit-desc, .lasting-fit-title, .get-in-touch-btn {
	z-index: 2;
	position: relative
}
.global-menu-title li a, .stand-menu-title li a {
	display: block
}
#global-reach-sec {
	overflow: hidden
}
.owl-prev {
	position: absolute;
	text-indent: -999px;
	left: -10px;
	top: 50%;
	background: url('./../img/arow_left.png');
	width: 30px;
	height: 8px;
	margin-top: -4px
}
.owl-next {
	position: absolute;
	text-indent: -9999px;
	right: -40px;
	top: 50%;
	background: url('./../img/arow_right.png');
	width: 30px;
	height: 8px;
	margin-top: -4px
}
.op-desc {
	font-family: 'Georgia' !important
}
.function-menu-title li:last-child {
	border-bottom: 1px solid #979797 !important
}
.our-partenrs-block a:hover {
	text-decoration: none !important
}
.morecontent span {
	display: none
}
.news-read-more {
	display: block;
	text-transform: uppercase
}
#nav-menu li a {
	text-transform: uppercase
}
.news-pagination {
	margin: 0 !important
}
.news-pagination-next:hover, .news-pagination-pre:hover {
	cursor: pointer
}
#global-reach-sec {
	background-image: url('./../img/global-reach-bg.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover !important;
	-webkit-background-size: cover
}
#my-thumbs-list {
	overflow: auto;
	width: 100%;
	height: auto
}
.pagination li {
	display: inline-block
}
#world-map {
	max-width: 68%;
	margin: 0 auto
}
.news-description-main li {
	display: none
}
.news-description-main li:first-child {
	display: block
}
.news-pagination {
	/*width: 98px;*/
	width: 130px;
	overflow: hidden;
	height: 22px;
	vertical-align: middle
}
.pagination li.active {
	color: #fff !important
}
.pag-arrows {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
	height: 22px
}
.sucessmessage, .contactsucessmessage, .interviewsucessmessage {
	display: none;
	margin-top: 100px
}
#page_navigation {
	margin-top: 30px
}
#page_navigation a {
	color: #fff;
	padding: 0px 15px
}
.previous_link,.next_link {
	display: none
}
.location-desc {
	min-height: 55px
}
#navbar {
	text-align: center
}
#nav-menu {
	text-align: center;
	float: none
}
#nav-menu li {
	float: none;
	display: inline-block
}
.header-nav {
	position: relative;
	padding: 20px 0px
}
.navbar-header {
	float: none;
	position: absolute;
	left: 60px
}
.client-suite-btn {
	position: absolute;
	right: 60px;
	margin-top: 10px
}
.carousel-indicators li {
	margin: 1px 5px;
}
#myCarousel .carousel-indicators li {
	display:none;
}
.industries-btn .glyphicon,.function-btn .glyphicon {
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out
}
.industries-btn.expand .glyphicon,.function-btn.expand .glyphicon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.input-single input.telephone {
	color: #5f51cb
}
.running-start-sec {
	margin: 0px 60px 0 110px
}
.lasting-fit-button {
	margin: 0px 0px;
	text-align: center;
	width: 100%
}
.lasting-fit-button button {
	margin-left: -120px
}
.social-partner {
	margin-top: 5px
}
.social-partner li a {
	font-size: 13px;
	text-transform: uppercase
}
.partner-social-link a {
	font-size: 12px
}
.page-partner-logo {
	height: 40px;
	margin: 40px 0 -10px 0
}
#about-sec {
	height: 420px;
	background-size: cover;
	background-position: 50%
}
.page-partner-logo.rslogo,.page-partner-logo.sflogo {
	height: 92px
}
.page-partner-logo.itlogo {
    height: 100px;
}
.syncfit-page-logo {
	height: 60px;
	position: relative;
	margin-left: 90px
}
.life-science-desc ul {
	padding-left: 0px;
	margin-bottom: 30px
}
.life-science-desc ul li {
	margin-left: 17px;
	line-height: 25px
}
.our-portfolio-right-desc {
	padding: 0 55px 0 70px
}
.our-portfolio-right-desc .btn-primary {
	text-transform: uppercase;
	margin: 20px 0px 0
}
.professional-services-desc table, .industrial-desc table {
	margin-bottom: 40px;
	border: 1px solid #7b7b7b
}
.professional-services-desc table tr:first-child td, .industrial-desc table tr:first-child td {
	text-align: center;
	background: #ccc;
	padding: 20px 0 !important;
	font-style: italic;
	color: #7b7b7b;
	border-bottom: 1px solid #7b7b7b
}
.professional-services-desc table tr:nth-child(2) td, .industrial-desc table tr:nth-child(2) td {
	padding-top: 20px !important
}
.professional-services-desc table tr:last-child td, .industrial-desc table tr:last-child td {
	padding-bottom: 20px !important
}
.professional-services-desc table tr td {
	padding: 10px 50px
}
.industrial-desc table tr td {
	padding: 10px 20px
}
.industrial-desc table tr td:nth-child(2) {
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7
}
.industrial-desc table tr td:last-child {
	padding-right: 40px
}
/*cycle js slider running slider*/
.running-slider-wrap #nav {
    bottom: 30px;
    position: absolute;
    z-index: 5;
    left: 40%;
}
.running-slider-wrap #nav a { 
	border: 1px solid #fff; 
	background: transparent; 
	text-decoration: none; 
	margin: 0 5px; 
	padding: 5px;
    border-radius: 50%;
    font-size: 0px;
}
.running-slider-wrap #nav a.activeSlide {
	background: #fff;
}

@media screen and (min-width: 768px) {
	.best-fit-row {
		min-height:380px !important {}
	}
	.only-mobile {
		display: none
	}
	.only-desktop {
		display: block
	}
	.icon-mobile-view .owl-carousel {
		display: block
	}
	#footer-menu {
		margin-left:5px !important;
	}
	footer .col-md-6 {
		margin-right:45px;
	}
	footer .col-md-3 {
		width:38%;
	}
}
@media screen and (min-width: 992px) {
	.margin_t30.mobile-view-syn-btn {
		margin: 0px
	}
	.industries-menu-title li a:hover span, .function-menu-title li a:hover span,
	.industries-menu-title li a.active span, .function-menu-title li a.active span {
		display: block
	}
	.signature-text .width_60 {
		width: 100%
	}
}
@media screen and (max-width: 991px) {
	.navbar-header {
		left: 10px
	}
	.client-suite-btn {
		right: 10px
	}
	.running-start-sec {
		margin: 0px !important
	}
}
@media screen and (max-width: 767px) {
	.icon-mobile-view {
		padding: 0 25px
	}
	.icon-mobile-view .owl-prev {
		left: -32px
	}
	.icon-mobile-view .owl-next {
		right: -30px
	}
	.signature-text.mobile-view {
		left: 0px;
		top: 80px;
		right: 0px;
		bottom: 0px;
		position: absolute
	}
	.signature-text.mobile-view p.width_60 {
		width: 100%
	}
	.kg-syn-contact {
		margin-left: 0px
	}
	#myCarousel .item .best-fit-row {
		bottom: -20px;
		z-index: 3
	}
	.bg_pickleBluewood .margin_l80.mob-view {
		margin-left: 0px !important
	}
	.bg_pickleBluewood .pad_r40.mob-view {
		padding-right: 0px !important
	}
	.bg_pickleBluewood .col-xs-12.mob-view, .bg_pickleBluewood .col-md-12.mob-view, .col-md-4.mob-view, .col-md-8.mob-view, .col-md-12.mob-view {
		padding: 0px
	}
	.tab-bg-main .container .margin_l40 {
		margin-left: 0px !important
	}
	.tab-bg-main .container h1 {
		text-align: center
	}
	.btn-lg {
		padding: 15px 20px
	}
	.navbar-toggle {
		margin-top: 14px
	}
	.header-nav {
		padding: 0px 15px 5px 15px
	}
	.container .navbar-header {
		margin-left: 0px;
		margin-right: 0px
	}
	.navbar-brand {
		padding: 15px 0
	}
	.headerAnimation.header-nav {
		padding: 0px 15px 5px 15px !important
	}
	#myCarousel .carousel-inner {
		min-height: 480px
	}
	.only-mobile {
		display: block
	}
	.only-desktop {
		display: none
	}
	#myCarousel .item .container .row {
		height: 95%
	}
	#footer-menu.margin_l55 {
		margin-left: 0px !important
	}
	#footer-menu.pad_r30 {
		padding-right: 0px !important
	}
	.kg-home-stand div {
		padding-right: 0px
	}
	.lasting-fit-button {
		margin: 0px
	}
	.lasting-fit-button button {
		width: 80%;
		white-space: normal;
		margin: 0 auto
	}
	.m_width100 {
		width: 100%
	}
	.m_width90 {
		width: 90%
	}
	.m_marginl0 {
		margin-left: 0px !important
	}
	.m_marginr0 {
		margin-right: 0px !important
	}
	.m_margint150 {
		margin-top: 150px
	}
	.m_margint50 {
		margin-top: 50px
	}
	.m_margint10 {
		margin-top: 10px
	}
	.m_margint0 {
		margin-top: 0px
	}
	.m_font21 {
		font-size: 21px !important
	}
	.m_font12 {
		font-size: 12px !important
	}
	.m_padtb0 {
		padding: 0px 0px
	}
	.m_padtb100 {
		padding: 100px 0px
	}
	.m_padtb50 {
		padding: 50px 0px
	}
	.m_pad10 {
		padding: 10px
	}
	.m_padl0 {
		padding-left: 0px
	}
	.partner-avatar-sec {
		float: none;
		margin-left: 0;
		margin: 0 auto
	}
	.partner-full-detail {
		padding: 28px 0px 0px 0px
	}
	.partner-description {
		padding: 0px 30px
	}
	#nav-menu {
		margin: 0 auto;
		text-align: center
	}
	.client-suite-btn {
		text-align: center;
		margin: 0 auto;
		width: 50%;
		float: none !important
	}
	.lasting-fit-title {
		line-height: 25px
	}
	.lasting-fit-sub-title {
		width: 100%
	}
	#global-sec h1 {
		font-size: 32px;
		margin-left: -95px;
		margin-top: -10px
	}
	.copy-right-text {
		text-align: center
	}
	#about-sec h1 {
		margin-top: 30px
	}
	#footer-menu {
		padding-left: 0px;
		text-align: center
	}
	#footer-menu li {
		display: block !important
	}
	.icon-cat img {
		margin: 0 auto;
		display: block
	}
	.world-map-locations img {
		width: 100%
	}
	.world-map-row .col-md-4 div {
		background-color: transparent
	}
	.row {
		margin-left: 0px;
		margin-right: 0px
	}
	.world-map-row .wml-address {
		background-color: #29364b !important;
		width: 90%;
		margin: 0 auto
	}
	.best-fit-desc {
		line-height: 17px
	}
	#world-map {
		background-size: contain
	}
	.world-map-row {
		padding: 0px 40px
	}
	.owl-prev {
		left: 0px
	}
	.bestfit-slider-image {
		background-size: cover !important;
		background-repeat: no-repeat;
		background-position: 100% center !important
	}
	#best-fit1 {
		background: url('./../img/KingsleyGatePartners-UmeshMobile.jpg') no-repeat 100% center;
		background-size: cover !important
	}
	#best-fit3 {
		background: url('./../img/KingsleyGatePartners-KohnMobile.jpg') no-repeat 100% center;
		background-size: cover !important
	}
	#best-fit4 {
		background: url('./../img/KingsleyGatePartners-TrauMobile.jpg') no-repeat 100% center;
		background-size: cover !important
	}
	#world-map {
		max-width: inherit;
		margin: inherit !important
	}
	#world-map .owl-carousel {
		max-width: 100%
	}
	#world-map ul {
		padding: 0 50px
	}
	.owl-next {
		right: 10px
	}
	.owl-prev {
		left: 10px
	}
	.icon-cat img {
		max-width: 50%;
		float: left
	}
	.navbar-header {
		float: left;
		position: static;
		width: 100%
	}
	#navbar {
		position: absolute;
		top: 62px;
		background: #dbdcdd;
		left: 0px;
		right: 0px;
		margin: 0;
		padding: 0px 0px 30px 0px;
		max-height: 380px
	}
	#nav-menu li {
		display: block
	}
	.client-suite-btn {
		position: static
	}
	.headerAnimation #navbar {
		top: 60px
	}
	.lasting-fit-button button {
		margin-left: 0px
	}
	.page-partner-logo {
		margin: 40px 0 0 0;
		height: 30px
	}
	.page-partner-logo.rslogo,.page-partner-logo.sflogo {
		height: 60px
	}
	.page-partner-logo.itlogo {
	    height: 60px;
	}
	.syncfit-page-logo {
		margin-left: 15px
	}
	.our-portfolio-right-desc {
		padding: 0 0px
	}
	.professional-services-desc table tr td, .industrial-desc table tr td {
		padding: 10px
	}
	footer .col-md-6 {
		margin-right:0;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.icon-cat img {
		max-width: 32%
	}
	.mob-portfolio.icon-cat {
		margin-left: 20px
	}
	.running-start-sec .bg_pickleBluewood .pad_tb100 {
		padding: 0 0
	}
	.signature-text .width_60 {
		width: 100%
	}
	.signature-text {
		right: 15px;
		bottom: 30px
	}
	#myCarousel .item .container .row {
		height: 100%
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.icon-cat {
		margin-left: 0px;
		padding-left: 10px
	}
	.icon-cat img {
		height: auto;
		width: 32%
	}
	.margin_l95 {
		margin-left: 37px !important
	}
	.signature-text .width_60 {
		width: 100%
	}
	.signature-text {
		right: 15px
	}
	.stand-menu-title {
		padding: 0
	}
	.kg-home-stand div {
		padding-top: 30px
	}
	.margin_l80 {
		margin-left: 24px !important
	}
	#myCarousel .item .container .row {
		height: 100%
	}
	.signature-text {
		bottom: 30px;
		right: 15px
	}
	#world-map {
		width: 70%
	}
	#stand-for .pad_tb200 {
		padding: 100px 0
	}
	#stand-for-synchronous-fit h1.margin_l95 {
		margin-left: 48px !important
	}
	.kg-home-stand div {
		padding-right: 0px
	}
	.kg-syn-contact {
		margin-left: 0px
	}
	#stand-for h1.margin_l95 {
		margin-left: 50px !important
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.i_width45 {
		width: 45%
	}
	#nav-menu {
		margin-left: 3%
	}
	.margin_l25 {
		margin-left: 6% !important
	}
	.i_padtb100 {
		padding: 100px 0
	}
	.i_padtb50 {
		padding: 50px 0 !important
	}
	.i_margint0 {
		margin-top: 0px
	}
	.i_margint150 {
		margin-top: 150px
	}
	.signature-text {
		bottom: 30px;
		right: 15px
	}
	.icon-cat {
		text-align: center
	}
	.world-map-locations img {
		width: 100%
	}
	.world-map-row .wml-address {
		width: 100%
	}
	.sf-desc {
		padding: 40px 0 0 0px;
		width: 100%
	}
	.i_lh80 {
		line-height: 80px
	}
	#footer-menu li {
		display: block !important
	}
	.navbar-header {
		width: 19%
	}
	.bestfit-slider-image {
		background-positon: 100% center
	}
	#myCarousel .item .container .row {
		height: 100%
	}
	.partner-avatar-sec {
		margin-left: -130px
	}
	.partner-description {
		padding: 51px 0px 0px 70px
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.world-map-locations img {
		width: 100%
	}
	.navbar-header {
		width: 22%
	}
}
@media screen and (min-width: 1024px) {
	.best-fit-row {
		position: static !important
	}
}
#contactModal,#loginModal,#assesmentModal,#partnermailModal {
  background: #fff
}
#contactModal .modal-title,#partnermailModal .modal-title {
  color: #5f51cb;
  font-weight: 700;
  padding-top: 25px;
  font-size: 32px
}
#contactModal .modal-content,#loginModal .modal-content,#assesmentModal .modal-content,#partnermailModal .modal-content {
  box-shadow: none !important;
  border: none !important;
  border-radius: none !important
}
#contactModal .modal-header,#loginModal .modal-header,#assesmentModal .modal-header,#partnermailModal .modal-header {
  border: none
}
#contactModal .modal-header .close,#partnermailModal .modal-header .close {
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 55px;
  color: #5f51cb;
  opacity: 1;
  outline: none !important
}
#contactModal .modal-header .close.contact-close-back, #partnermailModal .modal-header .close.contact-close-back {
	top:20px;
}
.email-phone {
  padding-top: 10px
}
.email-phone,.email-phone a {
  color: #29364b
}
.input-single,.telephone-main {
  margin-bottom: 20px;
  position: relative
}
.input-single input,.input-single select,.telephone-main input {
  border: none;
  border-bottom: 2px solid #ebebeb !important;
  box-shadow: none !important;
  border-radius: 0;
  color: rgb(95, 81, 203);
  font-weight: 700;
  outline: none !important;
  padding-left: 5px;
  background: none;
  position: relative;
  padding-right: 40px;
  text-transform: capitalize;
  z-index: 1
}
.input-single input.validate,.input-single select.validate,.telephone-wrap .telephone.validate {
  background: url('./../img/shape.png') no-repeat;
  background-position: 97%
}
.input-single select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none
}
.input-single label,.telephone-main label {
  position: absolute;
  left: 5px;
  right: 5px;
  z-index: 0;
  color: #ddd;
  color:#aaaaaa;
  top: 7px;
  margin-bottom: 0px
}
.telephone-main .country-code-label {
  max-width: 70px;
  top: 0px;
  line-height: 15px
}
.telephone-main .tel-cod-label {
  left: 21%
}
.input-single input.email {
  text-transform: lowercase;
  color: #5f51cb
}
.input-single label span,.telephone-main label span {
  float: right
}
.input-single textarea {
  height: 249px;
  font-weight: 700;
  border: 2px solid #ebebeb !important;
  resize: none;
  width: 100%;
  color: #5f51cb;
  padding-left: 5px;
  padding-top: 7px;
  outline: none !important;
  box-shadow: none !important
}
.contact-submit .btn,.contact-submitpartner .btn {
  width: 183px;
  height: 60px;
  background: #5f51cb;
  padding-top: 10px;
  text-align: center;
  border: none !important;
  color: #fff;
  border-radius: 0px;
  margin-top: 15px;
  text-transform: uppercase;
  outline: none !important
}
.contact-submit {
  clear: both
}
.contact-wrap {
  padding-top: 7px
}
.textarea-label {
  left: 10px !important
}
.close-modal {
  font-size: 12px;
  color: #5f51cb !important;
  text-transform: uppercase;
  margin-top: 35px !important;
  text-shadow: none !important;
  opacity: 1 !important;
  outline: none!important;
  letter-spacing: 2px
}
.close-modal img {
  margin-left: 15px
}
#loginModal .modal-header h3 {
  margin-top: 80px;
  margin-bottom: 30px;
  color: #5f51cb !important;
  font-size: 32px;
  font-weight: 600
}
.assesment-wrap h3 {
  color: #5f51cb !important;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 40px
}
.login-wrap {
  max-width: 345px;
  margin: 0 auto
}
a {
  outline: none !important
}
.input-single label span.tc-checkbox-text {
  color: #333333;
  float: left
}
.assesment-tc-text {
  font-size: 13px;
  margin: 0px 0
}
.checkbox input.tc-checkbox {
  position: relative;
  float: left;
  top: -2px
}
.forgot-password-text {
  color: #5f51cb !important;
  font-size: 12px;
  display: block;
  margin-top: 25px;
  text-transform: uppercase
}
.login-wrap .contact-submit .btn {
  margin-top: 80px
}
.assesment-wrap .contact-submit .btn {
  margin-top: 60px
}
.margin-top-60 {
  margin-top: 60px
}
.telephone-wrap {
  padding-left: 5px
}
.telephone-wrap span {
  float: left;
  display: inline-block;
  padding-top: 7px;
  opacity: 0;
  margin: 0% 2%
}
.telephone-wrap .countrycode {
  float: left;
  width: 15%;
  padding: 0;
  border: none!important;
  border-bottom: 1px solid #ddd !important
}
.telephone-wrap .telephone {
  float: left;
  width: 78%;
  border: none!important;
  padding-left: 2px;
  border-bottom: 1px solid #ddd !important
}
.partner-description p:first-child {
  font-size: 18px
}
#assesmentModal .kgp-interview-athena-logo {
  width: 140px;
  margin-top: 30px;
  padding-left: 15px
}
#assesmentModal .input-single.form-center {
  max-width: 345px;
  margin: 0px auto 20px
}
#assesmentModal form .col-sm-6:first-child {
  padding-left: 0px
}
#assesmentModal form {
  width: 100%;
  float: left
}
#assesmentModal form .col-sm-6:last-child {
  padding-right: 0px
}
.input-single.interview-bottom-align {
  margin-top: 100px
}
/*media queries */
@media (min-width: 981px) {
  #assesmentModal .modal-dialog {
    max-width: 960px;
    width: 960px;
    margin: 0 auto
	}
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 715px;
    margin: 0px auto
	}
  #loginModal .modal-dialog {
    max-width: 960px;
    margin: 0 auto
	}
}
@media (max-width: 767px) {
  .assesment-wrap .contact-submit .btn {
    margin-top: 60px;
    margin-bottom: 60px
	}
  .margin-top-60 {
    margin-top: 0
	}
  #assesmentModal .modal-header {
    text-align: center
	}
  #assesmentModal .kgp-interview-athena-logo {
    margin: 80px auto 15px;
    display: block;
    padding-left: 0px
	}
  .assesment-wrap h3 {
    font-size: 18px;
    text-align: center
	}
  #assesmentModal form .col-sm-6:last-child {
    padding-left: 0px
	}
  .input-single.interview-bottom-align {
    margin-top: 0px
	}
  #assesmentModal .col-sm-12, #assesmentModal .col-sm-5 {
    padding: 0px
	}
}
main sup {
	display:none;
}
main sup.block {
	display:inline-block;
}
