<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content>
    <meta name="author" content="aman01">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kingsley Gate Partners</title>
    <link rel="shortcut icon" , href="img/favicon.ico" type="image/x-icon">
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="libs/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" id="page-top" role="document" class="index ng-cloak">
      <!-- HEADER -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container bg_iron pad_20 header-nav">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed m_marginr0" type="button" , data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand clickGa" href="index.html" , category="header menu" action="header logo" label="logo">
            <img src="img/logo.svg" class="logo">
          </a>
        </div>
        <div class="client-suite-btn hidden-xs">
          <a class="indigo clickGa" href="http://clients.kingsleygate.com/" category="header menu" action="header clientsuite" label="clientsuite">CLIENTSUITE<sup>®</sup></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul id="nav-menu" class="nav navbar-nav">
            <li>
              <a class="thunder clickGa" href="synchronous-fit.html" category="header menu" action="header lasting fit" label="lasting fit">Synchronous Fit™<span class="nav-menu-border"></span></a>
            </li>
            <li>
              <a class="thunder clickGa" href="our_partners.html"  category="header menu" action="header our partners" label="our partners">OUR PARTNERS<span class="nav-menu-border"></span></a>
            </li>
            <li>
              <a class="thunder clickGa" href="#"  data-toggle="modal" data-target="#contactModal" category="header menu" action="header contact us" label="contact us">CONTACT US<span class="nav-menu-border"></span></a>
            </li>
          </ul>
          <div class="client-suite-btn visible-xs">
            <a class="indigo clickGa" href="http://clients.kingsleygate.com/"  category="header menu" action="header clientsuite" label="clientsuite">CLIENTSUITE<sup>®</sup></a>
          </div>
        </div>
      </div>
    </nav> 	
         
		<main role="main" id="undefined">
      <section class="bg_pickleBluewood pad_tb100">
        <div class="container partner-entry">
          <div class="row">
            <div class="pull-right backto-partner-btn robotoBold">
              <a href="our_partners.html"><img src="img/line.png" width="38">back to partners</a>
            </div>
          </div>
          <div class="partner-full-detail row">
            <div class="partner-avatar-sec text-center">
              
            </div>
            <div class="partner-description"></div>
          </div>
        </div>
      </section>
    </main>         
          <!-- file:///C:/Users/shettin/Desktop/KGP/angular/partner_detail.html?name=Natalie&id=005i0000006UN0mAAG -->
    <!-- FOOTER -->
    <footer class="bg_black pad_tb100 m_padtb50">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-12 col-sm-6">

            	<ul id="footer-menu" class="margin_l55 pad_r30" contentful-entries="'content_type=menu&fields.menuSection=footer'">
            	<li class="pad_tb10 inline-block m_pad10" ng-repeat="page in $contentfulEntries.items | orderBy:'fields.menuOrder' " >
              <a class="white footer-menu-title clickGa" href="{{ page.fields.externalLink }}" target="{{ page.fields.target }}">{{ page.fields.menuTitle }}<span class="nav-menu-border"></span></a>
            </li>
          </ul>
          </div>
          <div class="col-md-6 col-xs-12 col-sm-6 pull-right" contentful-entries="'content_type=footerCopy&fields.footerName=footer text'">
            	<div ng-repeat="page in $contentfulEntries.items | orderBy:'fields.pageOrder' " class="toHtml">
  							{{ page.fields.footerDesc }}
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="contactModal" class="modal fade" tabindex="-1" , role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close clickGa close-modal contact-close-back" type="button" , data-dismiss="modal" aria-label="Close" category="contact" action="contact close" label="close">
	        <img src="img/login-back.png" width="30">
            <span class="robotoBold" aria-hidden="true">Back</span>
          <!--<span aria-hidden="true">CLOSE &nbsp;X</span>-->
        </button>
        <h3 id="myModalLabel" class="modal-title text-center">Contact Us</h3>
        <!--<div class="email-phone text-center">
          <a href="mailto:info@kinglseygate.com">info@kinglseygate.com</a>
          <span class="phonenum">&nbsp;| &nbsp;+1 (972) 726-5550</span>
        </div>-->
      </div>
      <div class="modal-body">
        <div class="contact-wrap">
          <div class="row">
            <form class="contact-page-form" method="post">
              <div class="col-sm-6">
                <div class="input-single">
                  <label>Your Name</label>
                  <input class="form-control text-input required" id="contactname" type="text" name="validate-text" required autocomplete="off">
                </div>
                <div class="input-single">
                  <label>Company Name<span>(Optional)</span></label>
                  <input class="form-control company-name" id="companyname" type="text" autocomplete="off">
                </div>
                <div class="telephone-main">
                  <label class="country-code-label">Country Code</label>
                  <label class="tel-cod-label">Telephone</label>
                  <div class="telephone-wrap">
                    <input class="form-control countrycode required" id="contact-code" type="text" required autocomplete="off" maxlength="4">
                    <span>-</span>
                    <input class="form-control telephone required" id="contact-tel" type="text" required autocomplete="off" maxlength="10">
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="input-single">
                  <label>Email Address</label>
                  <input class="form-control email required" id="contact-mail" type="email" required autocomplete="off">
                </div>
                <div class="input-single">
                  <label>Select a Partner<span>(Optional)</span></label>
                  <select class="form-control" id="select-partner" name="validate-select" placeholder="Validate Select" autocomplete="off">
                    <option value></option><option value="Nancy">Nancy Albertini</option><option value="Natalie">Natalie Bennett</option><option value="Andrew">Andrew Blane</option><option value="Glenn">Glenn de Gruy</option><option value="Manisha">Manisha Deva</option><option value="Mark">Mark Esposito</option><option value="Geoff">Geoff Hall</option><option value="Buster">Buster Houchins</option><option value="Christopher">Christopher Kaderle</option><option value="Raj">Raj Kapoor</option><option value="Victor">Victor Kleinman</option><option value="Tom">Tom Koch</option><option value="Adam">Adam Kohn</option><option value="Margo">Margo Lucero</option><option value="Martin">Martin Mendelsohn</option><option value="David">David Nocifora</option><option value="Umesh">Umesh Ramakrishnan</option><option value="Paige C.">Paige C. Scott</option><option value="Michael">Michael Seeley</option><option value="James W.">James W. Thompson, Ph.D.</option><option value="Bill">Bill Trau</option></select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-single">
                  <label class="textarea-label text-input">Please let us know any relevant details…</label>
                  <textarea id="contact-details"></textarea>
                </div>
              </div>
              <div class="contact-submit text-center">
                <button class="btn clickGa" id="contact-form-send" type="submit" disabled category="contact" action="contact send" label="send" goalname="Contact Send" useraction="Click &#39;Send&#39; on contact form">Send</button>
              </div>
            </form>
          </div>
          <div class=" contactsucessmessage text-center font_22 indigo">Thank you for contacting us. We will be in touch shortly</div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <div id="loginModal" class="modal fade" tabindex="-1" , role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close clickGa close-modal" type="button" , data-dismiss="modal" aria-label="Close" category="contact" action="contact close" label="close">
              <img src="img/login-back.png" width="30">
              <span class="robotoBold" aria-hidden="true">Back</span>
            </button>
            <h3 id="myModalLabel" class="modal-title text-center calibreRegular">Log-In</h3>
          </div>
          <div class="modal-body">
            <div class="login-wrap">
              <div class="row">
                <form method="post" netlify netlify-honeypot="bot-field">
                  <div class="col-sm-12">
                    <div class="input-single">
                      <label>Email Address</label>
                      <input class="form-control" type="email" required autocomplete="off">
                    </div>
                    <div class="input-single">
                      <label>Password</label>
                      <input class="form-control" type="password" required autocomplete="off">
                      <a href="#" class="forgot-password-text robotoBold">forgot password?</a>
                    </div>
                  </div>
                  <div class="contact-submit text-center">
                    <button class="btn clickGa" type="submit" category="contact" action="contact send" label="send" goalname="Contact Send" useraction="Click &#39;Send&#39; on contact form">GO</button>
                  </div>
                  <p class="hidden">
                    <label>Bot field:<input name="bot-field"></label>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="assesmentModal" class="modal fade" tabindex="-1" , role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close clickGa close-modal" type="button" , data-dismiss="modal" aria-label="Close" category="contact" action="contact close" label="close">
              <img src="img/login-back.png" width="30">
              <span class="robotoBold" aria-hidden="true">Back</span>
            </button>
            <img class="kgp-interview-athena-logo col-sm-offset-1" src="img/Logo_ATHENA.svg">
          </div>
          <div class="modal-body">
            <div class="assesment-wrap">
              <div class="row">
                <div class="col-sm-12">
                  <div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                      <h3>Learn where you fit</h3>
                    </div>
                  </div>
                  <form method="post">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                      <div class="input-single">
                        <label>First Name</label>
                        <input class="form-control" type="text" required autocomplete="off">
                      </div>
                      <div class="input-single">
                        <label>Last Name</label>
                        <input class="form-control" type="text" required autocomplete="off">
                      </div>
                      <div class="input-single">
                        <label>Company</label>
                        <input class="form-control" type="text" required autocomplete="off">
                      </div>
                      <div class="input-single">
                        <label>Title</label>
                        <input class="form-control" type="text" required autocomplete="off">
                      </div>
                      <div class="input-single">
                        <label>Email Address</label>
                        <input class="form-control" type="email" required autocomplete="off">
                      </div>
                      <div class="input-single">
                        <label>LinkedIn Url</label>
                        <input class="form-control" type="text" required autocomplete="off">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="input-single">
                        <p class="assesment-tc-text">This online interview is being provided to you as a courtesy by Kingsley Gate Partners<sup>®</sup>. The resulting values that you desire in your ideal work environment will be sent to your email address. In submitting this form, you agree your information may be stored by Kingsley Gate. This information may include your name, title, company, LinkedIn profile and e-mail address. Any stored information will only be used by Kingsley Gate Partners<sup>®</sup>and for the purpose of recommending a synchronous fit with our clients. Your information will not be otherwise disclosed to third parties, unless required by law.</p>
                        <div class="input-single interview-bottom-align">
                          <div class="checkbox">
                            <label>
                              <input class="tc-checkbox" type="checkbox">
                              <span class="tc-checkbox-text">I agree to the above terms of service.</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1"></div>
                  </form>
                  <div class="contact-submit text-center">
                    <button class="btn clickGa" type="submit" category="contact" action="contact send" label="send" goalname="Contact Send" useraction="Click &#39;Send&#39; on contact form">GO</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="partnermailModal" class="modal fade" tabindex="-1" , role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close clickGa close-modal contact-close-back" id="closeform-partner" type="button" , data-dismiss="modal" aria-label="Close" category="contact" action="contact close" label="close">
       	        <img src="img/login-back.png" width="30">
	            <span class="robotoBold" aria-hidden="true">Back</span>
              <!--<span aria-hidden="true">CLOSE &nbsp;X</span>-->
            </button>
            <h3 id="myModalLabel" class="modal-title text-center">Send Mail</h3>
          </div>
          <div class="modal-body">
            <div class="contact-wrap">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="partnername-form"></h3>
                </div>
                <form class="partnerfeedback-form" method="post">
                  <div class="col-sm-12">
                    <div class="input-single">
                      <label>Your Name</label>
                      <input class="form-control text-input" id="name" type="text" required autocomplete="off">
                    </div>
                    <div class="input-single">
                      <label>Your Email Address</label>
                      <input class="form-control" id="fromemail" type="email" required autocomplete="off">
                    </div>
                    <div class="input-single" style="margin-top:40px">
                      <label class="textarea-label text-input">Please send your message…</label>
                      <textarea id="message"></textarea>
                    </div>
                  </div>
                  <div class="contact-submitpartner text-center">
                    <button class="btn clickGa" id="email-send" type="submit" disabled category="contact" action="contact send" label="send" goalname="Contact Send" useraction="Click &#39;Send&#39; on contact form">Send</button>
                  </div>
                  <p class="hidden">
                    <label>Bot field:<input name="bot-field"></label>
                  </p>
                </form>
              </div>
              <div class="sucessmessage text-center font_22 indigo">Thank you for contacting us. We will be in touch shortly</div>
            </div>
          </div>
        </div>
      </div>
    </div>      
  <!-- Angular JavaScript -->
    <script src="libs/angular-contentful/angular.min.js"></script>
    <!-- Angular wrapper for contentful -->
    <script src="libs/angular-contentful/angular-contentful.js"></script>
    <script src="libs/angular-contentful/contentful-script.js"></script>
    <script src="libs/angular-contentful/contentful.js"></script>
     <script src="libs/angular-contentful/contentful.min.js"></script>

    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="js/main.js" defer></script>
    <script src="libs/email-post.js"></script>
    <script src="libs/google_analytics.js"></script>
    <script src="libs/pagination.js"></script>

    <script>
			function getUrlVars() {
				var vars = {};
				var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
				function(m,key,value) {
					vars[key] = value;
				});
				return vars;
			}
			//var nameVal = getUrlVars()["name"];
			var idVal = getUrlVars()["id"];
			
			var accessTokenVal;
			//alert(nameVal);
			
			var client = contentful.createClient({
					space: 'p5x2n44vvui9',
					accessToken: 'def44fcbd3f0e3efcfa34eee1f2d6c2a820ad53c16c3f0cb5f004a34ddf2894e'
				})
				client.getEntries({
				'content_type': 'salesforcetoken',
			})
			.then(function (entries) {
				// log the title for all the entries that have it
				entries.items.forEach(function (entry) {
					
					accessTokenVal = entry.fields.accessToken;
				})
				
			})
			var client = contentful.createClient({
					space: 'p5x2n44vvui9',
					accessToken: 'def44fcbd3f0e3efcfa34eee1f2d6c2a820ad53c16c3f0cb5f004a34ddf2894e'
				})
				client.getEntries({
				'content_type': 'ourpartners',
			})
			.then(function (entries) {
				// log the title for all the entries that have it
				entries.items.forEach(function (entry) {
					if(entry.fields.iconId == idVal) {
						//$('#contactPage').html(entry.fields.pageLongDescription)
						
							$(".partner-avatar-sec").html('<div class="partner-avatar" style="background-image:url('+entry.fields.iconImageUrl+'?oauth_token='+accessTokenVal+'" ></div><div class="partner-details"><h4 class="partner-title calibreRegular">'+entry.fields.iconName+'<span> </span>'+entry.fields.iconLastName+'</h4><p class="parnter-desgination robotoBold">'+entry.fields.iconTitle+'</p><p class="parnter-location robotoBold">'+entry.fields.iconLocation+'</p><p class="partner-social-link robotoBold"><a class="individual-page-email-link" href data-toggle="modal"  data-target="#partnermailModal" data-mailid="'+entry.fields.iconEmailLink+'" target="_blank">Email | </a>   <a href="'+entry.fields.iconLinkedinLink+'" target="_blank"> Linkedin</a></p></div>')
							$(".partner-description").html(entry.fields.iconDescription)
						//alert(entry.fields.iconName+' - '+entry.fields.iconLastName+' - '+entry.fields.iconTitle+' - '+entry.fields.iconOrder)
					}
					
				})
				
			})
			
		</script>
  </body>    
</html>
